.col-centered{
    float: none;
    margin: 0 auto;
}

.coll{
    margin-top: 120px;
}

.neon-blue {
    border: 2px solid #9ecaed;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
}

.neon-green {
    border: 2px solid #9eca;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 10px #9eca;
}