{{sessionKey}}
<form action="" (ngSubmit)="Answer(f)" #f="ngForm">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="answer">uw antwoord</label>
                <input type="text" id="answer" name="answer" class="form-control" ngModel>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success">antwoord</button>
        </div>
    </div>
</form>

